Package: pishutdownbutton
Version: 1.0-2
Section: base
Priority: optional
Architecture: all
Depends: python3, python3-pip
Maintainer: Jens Gabrikowski <jens@gabrikowski.de>
Description: PiShutdownButton
 Package to install and run PiShutdownButton on a Raspberry Pi.
 It will wait for a GPIO button pressed to shutdown the system.
